<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Fuzz Sample</title>

        <link rel="stylesheet" href="styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" />

        <script src="scripts.js" defer></script> <!--must load after dom for vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <header>
            <div>Master</div>
            <div class="sample-master">
                <nav>
                    <div class="logo">Menu</div>
                    <ul id="menu-nav" class="menu-links">
                        <li>nav</li>
                    </ul>
                    <select class="menu-dd">
                        <option value="" selected="selected">Select Category</option>
                    </select>
                    <div class="search"><i class="fas fa-search"></i><input type="text" value="search" /></div>
                </nav>
            </div>

            <div>Variations</div>
            <div class="sample1">
                <nav>
                    <div class="logo">Menu</div>
                    <ul id="menu-nav" class="menu-links">
                        <li>nav</li>
                    </ul>
                    <div class="search"><i class="fas fa-search"></i><input type="text" value="search" /></div>
                </nav>
            </div>

            <div class="sample3">
                <nav>
                    <div class="logo">Menu</div>
                    <ul id="menu-nav" class="menu-links">
                        <li>nav</li>
                    </ul>
                    <div class="search"><i class="fas fa-search"></i><input type="text" value="search" /></div>
                </nav>
            </div>

            <div class="sample4">
                <nav>
                    <div class="logo">Menu</div>
                    <select class="menu-dd">
                        <option value="" selected="selected">Select Category</option>
                        <option value="/">Home</option>
                        <option value="/collections/all">Books</option>
                        <option value="/blogs/five-simple-steps-blog">Blog</option>
                        <option value="/pages/about-us">About Us</option>
                        <option value="/pages/support">Support</option>
                    </select>
                    <div class="search"><i class="fas fa-search"></i><input type="text" value="search" /></div>
                </nav>
            </div>
        </header>
        <main>
            <div id="app-1">
                {{ message }}
            </div>

            <div id="app-2">
              <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
              </span>
            </div>

            <div id="app-3">
                <span v-if="seen">Now you see me</span>
                <br /><br />
                <span>Type 'app3.seen=false;' into your console.</span>
            </div>

            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>

            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>

            <div id="app-6">
                <p>{{ message }}</p>
                <input v-model="message">
            </div>

            <div id="app-7">
                <ol>
                    <!--
                      Now we provide each todo-item with the todo object
                  it's representing, so that its content can be dynamic.
                  We also need to provide each component with a "key",
                    which will be explained later.
                  -->
                    <todo-item
                            v-for="item in groceryList"
                            v-bind:todo="item"
                            v-bind:key="item.id">
                    </todo-item>
                </ol>
            </div>
        </main>
        <footer></footer>
    </body>
</html>